

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/colors/green.css" id="colors">
    <link href="~/css/custom.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="~/images/spinning_globe.gif">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">


        <!-- Header
        ================================================== -->
        <header>
            <div class="container">
                <div class="sixteen columns">

                    <!-- Logo -->
                    <div id="logo">
                        <a href="/Admin/Dashboard/">
                            <img src="~/images/OnlinePlants.png" style="width:200px;">
                        </a>
                    </div>

                    <nav id="navigation" class="menu" style="float:left; padding-right:40px;">
                        <ul id="responsive">
                            <li><a href="/Admin/Dashboard/" class="button small margin-top-5" style="color:#fff;">Home</a></li>
                        </ul>
                    </nav>

                    <!-- Menu -->
                    <nav id="navigation" class="menu" style="float:right; padding-right:40px;">
                        <ul id="responsive">
                            <li style="padding-top:20px;">
                                <span style="font-size:14px;">Welcome @ViewBag.Name</span>
                            </li>

                            <li>
                                <a href="javascript:" class="pp-rm-hover"><img src="~/images/PP/@ViewBag.ImageURL" style="height:32px;" class="PP-outline" /></a>
                                <ul>
                                    <li>@Html.ActionLink("Logout", "Logout", "Dashboard")</li>
                                </ul>
                            </li>


                        </ul>



                    </nav>

                    <!-- Navigation -->
                    <div id="mobile-navigation">
                        <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
                    </div>

                </div>
            </div>
        </header>
        <div class="clearfix"></div>

        @RenderBody()


        <!-- Footer
        ================================================== -->
        <div class="margin-top-15"></div>

        <div id="footer">
            <div class="container" style="width:600px !important;">

                @*<div class="sixteen columns">
                    <div class="two columns">
                        <h4> <a href="/" style="color: #fff;"> Home</a></h4>
                    </div>
                    <div class="two columns">
                        <h4><a href="/FAQ/" style="color: #fff;">FAQ's</a></h4>
                    </div>
                    <div class="two columns">
                        <h4><a href="/Testimonial/" style="color: #fff;">Testimonial</a></h4>
                    </div>
                    <div class="two columns">
                        <h4><a href="/Contact/" style="color: #fff;">Contact us</a></h4>
                    </div>
                </div>*@

            </div>

            <!-- Bottom -->
            <div class="container">
                <div class="footer-bottom">
                    <div class="sixteen columns">
                        <div class="copyrights">©  Copyright 2015 by <a href="#">Mazz Global</a>. All Rights Reserved.</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

    </div>
    <!-- Wrapper / End -->
    <!-- Scripts
    ================================================== -->
    <script src="~/scripts/jquery-2.1.3.min.js"></script>
    @RenderSection("script", false)
    <script src="~/scripts/jquery.superfish.js"></script>
    <script src="~/scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="~/scripts/jquery.flexslider-min.js"></script>
    <script src="~/scripts/chosen.jquery.min.js"></script>
    <script src="~/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/scripts/waypoints.min.js"></script>
    <script src="~/scripts/jquery.counterup.min.js"></script>
    <script src="~/scripts/jquery.jpanelmenu.js"></script>
    <script src="~/scripts/stacktable.js"></script>




</body>
</html>
